.box {
  height: 1000px;
  width: 1000px;
}

.box .rectangle {
  background-color: #252525;
  height: 1000px;
  left: 0;
  position: fixed;
  top: 0;
  width: 1500px;
}
.navbar {
  align-items: center;
  background-color: #252525;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: #515151;
  display: flex;
  gap: 200px;
  height: 70px;
  justify-content: center;
  position: relative;
  width: 1488px;
}

.navbar .text-wrapper {
  color: #ffffff;
  font-family: "Roboto-Medium", Helvetica;
  font-size: 25px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  white-space: nowrap;
  width: fit-content;
  left: -25px;
}

.navbar .group {
  height: 50px;
  position: relative;
  width: 1027px;
}

.navbar .div {
  align-items: flex-start;
  display: inline-flex;
  gap: 30px;
  left: 0;
  position: absolute;
  top: 14px;
}

.navbar .text-wrapper-2 {
  color: #ffffff;
  font-family: "Roboto-Light", Helvetica;
  font-size: 17px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
  color: grey;
}

.navbar .frame {
  align-items: center;
  background-color: #3a3a3a;
  border: 1px solid;
  border-color: #515151;
  border-radius: 30px;
  display: flex;
  gap: 10px;
  height: 36px;
  justify-content: center;
  left: 590px;
  padding: 4px;
  position: absolute;
  top: 0;
  width: 125px;
}

.navbar .text-wrapper-3 {
  color: #ffffff;
  font-family: "Roboto-Regular", Helvetica;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.navbar .div-wrapper {
  align-items: center;
  background-color: #45c5fb;
  border: 1px solid;
  border-color: #515151;
  border-radius: 30px;
  display: flex;
  gap: 10px;
  height: 38px;
  justify-content: center;
  left: 745px;
  padding: 3px;
  position: absolute;
  top: 0;
  width: 140px;
}

.div-wrapper .text-wrapper-4 {
  color: #1e1e1e;
  font-family: "Roboto-Regular", Helvetica;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}
.banner-description {
  height: 170px;
  position: relative;
  width: 900px;
  top: 100px;
}

.banner-description .heading {
  color: #ffffff;
  font-family: "Roboto-Light", Helvetica;
  font-size: 70px;
  left: 50px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: -34px;
  width: 700px;
}

.banner-description .description-and {
  height: 188px;
  left: 737px;
  position: absolute;
  top: 20px;
  width: 572px;
}

.banner-description .text-wrapper {
  color: #ffffff;
  font-family: "Roboto-Light", Helvetica;
  font-size: 17px;
  font-weight: 300;
  left: 35px;
  letter-spacing: 0;
  line-height: 34px;
  position: absolute;
  top: 0;
  width: 520px;
}

.banner-description .frame {
  align-items: center;
  background-color: #3a3a3a;
  border: 1px solid;
  border-color: #515151;
  border-radius: 30px;
  display: flex;
  gap: 10px;
  height: 23px;
  justify-content: center;
  left: 205px;
  padding: 10px;
  position: absolute;
  top: 133px;
  width: 135px;
}

.banner-description .div {
  color: #ffffff;
  font-family: "Roboto-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.banner-description .div-wrapper {
  align-items: center;
  background-color: #45c5fb;
  border: 1px solid;
  border-color: #515151;
  border-radius: 30px;
  display: flex;
  gap: 10px;
  height: 23px;
  justify-content: center;
  left: 34px;
  padding: 10px;
  position: absolute;
  top: 133px;
  width: 135px;
}

.banner-description .text-wrapper-2 {
  color: #1e1e1e;
  font-family: "Roboto-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.box-arrowLeft {
  height: 60px;
  width: 60px;
}

.box-arrowLeft .solar-arrow-left {
  height: 60px;
  position: absolute;
  width: 60px;
  top: 700px;
  left: 60px;
}
.box-arrowRight {
  height: 60px;
  width: 60px;
}

.box-arrowRight .solar-arrow-right {
  height: 70px;
  position: absolute;
  width: 67px;
  top: 780px;
  left: 57px;
}

.box2 {
  height: 400px;
  width: 430px;
}

.box2 .card-content {
  height: 250px;
  left: 70%;
  position: relative;
  top: 50%;
  width: 400px;
}

.box2 .overlap-group {
  height: 250px;
  position: relative;
}

.box2 .rectangle {
  border-radius: 30px 30px 0px 0px;
  height: 250px;
  left: 0;
  position: absolute;
  top: 0;
  width: 430px;
  object-fit: cover;
}

.box2 .div {
  background-color: #28b6f3;
  border-radius: 0px 0px 30px 30px;
  height: 170px;
  left: 0;
  position: absolute;
  top: 250px;
  width: 430px;
}

.box2 .card-text {
  height: 95px;
  left: 32px;
  position: absolute;
  top: 290px;
  width: 340px;
}

.box2 .individuals-family {
  color: #000000;
  font-family: "Roboto-Medium", Helvetica;
  font-size: 25px;
  font-weight: 500;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.box2 .text-wrapper {
  color: #000000;
  font-family: "Roboto-Regular", Helvetica;
  font-size: 14.5px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: 25px;
  position: absolute;
  top: 30px;
  width: 340px;
}

.box2 .arrow {
  background-color: #000000;
  border: 4px solid;
  border-color: #29b6f3;
  border-radius: 30px;
  height: 40px;
  left: 340px;
  position: absolute;
  top: 220px;
  width: 40px;
}

.box2 .solar-arrow-up {
  height: 20px;
  left: 11px;
  position: absolute;
  top: 10px;
  width: 20px;
}
.box3 {
  height: 400px;
  width: 430px;
}

.box3 .card-content {
  height: 300px;
  left: 60%;
  position: relative;
  top: 50%;
  width: 430px;
}

.box3 .overlap-group {
  height: 300px;
  position: relative;
}

.box3 .rectangle {
  border-radius: 30px 30px 0px 0px;
  height: 250px;
  left: 0;
  position: absolute;
  top: 0;
  width: 430px;
  object-fit: cover;
}

.box3 .div {
  background-color: #ee6352;
  border-radius: 0px 0px 30px 30px;
  height: 170px;
  left: 0;
  position: absolute;
  top: 250px;
  width: 430px;
}

.box3 .card-text {
  height: 95px;
  left: 32px;
  position: absolute;
  top: 290px;
  width: 340px;
}

.box3 .individuals-family {
  color: #000000;
  font-family: "Roboto-Medium", Helvetica;
  font-size: 25px;
  font-weight: 500;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.box3 .text-wrapper {
  color: #000000;
  font-family: "Roboto-Regular", Helvetica;
  font-size: 14.5px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: 25px;
  position: absolute;
  top: 30px;
  width: 340px;
}

.box3 .arrow {
  background-color: #000000;
  border: 4px solid;
  border-color: #ee6352;
  border-radius: 30px;
  height: 40px;
  left: 340px;
  position: absolute;
  top: 220px;
  width: 40px;
}

.box3 .solar-arrow-up {
  height: 20px;
  left: 11px;
  position: absolute;
  top: 10px;
  width: 20px;
}

.box4 {
  height: 400px;
  width: 430px;
}

.box4 .card-content {
  height: 300px;
  left: 50%;
  position: relative;
  top: 50%;
  width: 430px;
}

.box4 .overlap-group {
  height: 300px;
  position: relative;
}

.box4 .rectangle {
  border-radius: 30px 30px 0px 0px;
  height: 250px;
  left: 0px;
  position: absolute;
  top: 0;
  width: 430px;
  object-fit: cover;
}

.box4 .div {
  background-color: #f9c809;
  border-radius: 0px 0px 30px 30px;
  height: 170px;
  left: 0;
  position: absolute;
  top: 250px;
  width: 430px;
}

.box4 .card-text {
  height: 95px;
  left: 32px;
  position: absolute;
  top: 290px;
  width: 340px;
}

.box4 .individuals-family {
  color: #000000;
  font-family: "Roboto-Medium", Helvetica;
  font-size: 25px;
  font-weight: 500;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.box4 .text-wrapper {
  color: #000000;
  font-family: "Roboto-Regular", Helvetica;
  font-size: 14.5px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: 25px;
  position: absolute;
  top: 30px;
  width: 340px;
}

.box4 .arrow {
  background-color: #000000;
  border: 4px solid;
  border-color: #f9c809;
  border-radius: 30px;
  height: 40px;
  left: 340px;
  position: absolute;
  top: 220px;
  width: 40px;
}

.box4 .solar-arrow-up {
  height: 20px;
  left: 11px;
  position: absolute;
  top: 10px;
  width: 20px;
}
.Boxes {
  display: flex;
  gap: 70px;
  margin-top: -100px;
}
.boxAdobe {
  top: 27%;
  position: relative;
  height: 130px;
  width: 1900px;
  padding-top: 65px;
  background-color: #d9d9d9;
  align-items: flex-start;
  display: inline-flex;
  gap: 60px;
  position: relative;
}
.boxAdobe .image {
  height: 60px;
  position: relative;
  width: 222px;
}